<div class="col-xs-12" id="folderPanel" data-translate-catalog="recordsManagement/message">
    <div id="welcomMessage">
        <i class="fa fa-arrow-left col-xs-1"/>
        <h2 class="col-xs-11"> Select an organization unit or a folder in the tree to access an archive or to create a new one.</h2>
    </div>
    <div class="row folderContents hide">
        <ol class="breadcrumb" id="folderBreadcrumb">
            <li><a href="#"> </a></li>
        </ol>
    </div>
    <div id="folderContents" class="folderContents hide">
        <div id="folderToolbar" class="row">
            <h4 class="pull-left col-md-4 lockedFolder hide">
                <i class="text-danger fa fa-lock" style="font-size: 30px"/>
            </h4>
            <div class="col-xs-10">
            <?hinclude recordsManagement/archive/fulltextSearchForm.html ?>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-warning pull-right hide" id="folderToolbarCloseSearch" title="Close search">
                    <span class="fa fa-close">&nbsp;</span> Close search
                </button>
                <div id="folderToolbarBtn" class="dropdown btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle pull-right [?merge depositPrivilege.not().then('disabled', '') ?]" id="folderToolbarImport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="New archive" disabled>
                        <span class="fa fa-plus">&nbsp;</span> New archive
                    </button>
                    <ul class="dropdown-menu pull-right">
                    </ul>
                </div>
            </div>
        </div>
        <div id="folderContentList">
            <div class="row hide">
            </div>
        </div>
    </div>
</div>

<div id="listTemplate" class="hide" data-translate-catalog="recordsManagement/message">
    <div class="archive row archiveItem" style="border-bottom: 1px solid #DDD">
        <div class="archiveInfo pull-left">
            <h5>
                <i class="archiveContentButton fa fa-caret-right">&nbsp;</i>
                <i class="fileplanLevel">&nbsp;</i>
                <span class="archiveName"></span>
                <span class="status hidden"></span>
                <br/>
                &nbsp;
                <small/>
                <small/>
                <small><i/></small>
                <small class="folderInfo">
                    <br/>
                    <span></span>
                </small>
            </h5>
        </div>
        <?merge exportPrivilege.bool() ?>
        <div class="pull-right addChildrenArchive addingNew exportArchive hide">
            <button class="btn btn-xs btn-default" title="Export">
                <span class="fa fa-download"></span>
            </button>
        </div>
        <?merge depositPrivilege.bool() ?>
        <div class="pull-right dropdown addChildrenArchive addingNew hide">
            <button class="btn btn-xs btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-plus"></span>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div class="archiveContent hide">
            <ul class="tree-l">
            </ul>
        </div>
    </div>
</div>

<div class="hide">
    <span id="resultsOfSearch">Results of search in</span>
    <span id="archives_text">archives</span>
    <span id="archive_text">archive</span>
    <span id="foundArchives_text">archives found</span>
    <span id="foundArchive_text">archive found</span>
    <span id="rows_text">rows</span>
    <span id="emptyFolder_text">Empty folder</span>
    <span id="archiveName_text">Name</span>
    <span id="depositDate_text">Deposit date</span>
    <span id="first_text">First</span>
    <span id="previous_text">Previous</span>
    <span id="next_text">Next</span>
    <span id="last_text">Last</span>
    <span id="withoutProfile_text">Without profile</span>

</div>
<style type="text/css">
    #welcomMessage i{
        font-size: 40px;
        padding-top: 15px;
    }
    #welcomMessage {
        margin-top: 20%;
    }
</style>

<script type="text/javascript">
    trigger("setSearchBarClass.recordsManagement", ['col-md-10']);

    $("#folderToolbarCloseSearch").on('click', function(e) {
        trigger('folderView.recordsManagement');
        FilePlan.load($("#filePlanTree").find('.node-warning').closest('li'));
    });

    $("#folderToolbarBtn").onEvent("showSearchResult.recordsManagement", function (e) {
        ToolbarButtons.initSearchView();
    });

    $("#folderToolbarBtn").onEvent("folderView.recordsManagement", function (e) {
        ToolbarButtons.initfolderView();
    });

    ToolbarButtons = {
        initSearchView: function() {
            $("#folderToolbarCloseSearch").removeClass("hide");
            $("#folderToolbarImport").addClass("hide");
            $('#folderBreadcrumb').html($('#resultsOfSearch').text() + ' : ' + $("#filePlanTree").find('.node-warning').closest('li').data('path').replace(/\//g, ' > '));
        },
        initfolderView: function() {
            $("#folderToolbarCloseSearch").addClass("hide");
            $("#folderToolbarImport").removeClass("hide");
            $("input[name=searchForm_inputSearch]").val("");
            $("[name=originatingDateMin]").datepicker('setDate', null);
            $("[name=originatingDateMax]").datepicker('setDate', null);
        }
    }

    FolderBreadcrumb = {
        breadcrumb    : $('#folderBreadcrumb'),
        load: function(path) {
            var height = 0;
            this.breadcrumb.html('');

            for(i=0; i<path.length; i++) {
                this.buildLink(path[i], true).prependTo(this.breadcrumb);

                if (height == 0) {
                    height = this.breadcrumb.height();
                }
            }

            this.breadcrumb.find('li:last>a').data('orgregnumber', '');
            if (this.breadcrumb.height() > height) {
                var dots = $('<a/>').attr('href', '#')
                                    .attr('type', 'button')
                                    .attr('aria-haspopup', 'true')
                                    .attr('aria-expanded', 'false')
                                    .attr('data-toggle', 'dropdown')
                                    .text('...');
                var ul = $('<ul/>').addClass('dropdown-menu');

                var dropdown = $('<li/>').addClass('dropdown').append(dots).append(ul);

                this.breadcrumb.prepend(dropdown);

                i=path.length-1;

                while(this.breadcrumb.height() > height && i>=0) {
                    this.buildLink(path[i]).appendTo(ul);
                    this.breadcrumb.find('>li:nth-child(2)').remove();
                    i--;
                }

            }

        },

        buildLink: function(e, truncate) {
            var text = e[0];
            return $('<li/>').append($('<a/>').attr('href', '#').text(text).data('orgregnumber', e[1]));
        },

        selectFolder: function(e) {
            var orgRegNumber = e.data('orgregnumber');
            if (orgRegNumber) {
                trigger('loadFolder.filePlan', [orgRegNumber]);
            }
        },

        lockNavigation : function() {
            this.breadcrumb.find('a').prop('disabled', true);
        },

        unlockNavigation : function() {
            this.breadcrumb.find('a').prop('disabled', false);
        }
    };
    ArchiveFolderList = {
        rowTemplate    : $('#listTemplate .archive').clone(),
        folderContents : $('#folderContentList'),
        folderPanel    : $('#folderPanel'),
        orgRegNumber   : null,
        folderId       : null,
        pathList       : [],
        showArchivePath: false,
        totalArchives: null,

        getfolderContents: function(orgRegNumber, folderId, archivalProfiles, disabled, locked, acceptArchivesWithoutProfiles, pathList) {
            this.orgRegNumber = orgRegNumber;
            this.folderId = folderId;
            this.pathList = pathList;
            this.show();
            $('#welcomMessage').addClass('hide')
            var url = "/folder?originatorOrgRegNumber="+orgRegNumber;
            if (folderId) {
                url = url + "&filePlanPosition="+folderId;
            }
            if (locked) {
                this.folderPanel.find('.lockedFolder').removeClass('hide');
                $('#folderToolbarImport').addClass('hide');
            } else {
                this.folderPanel.find('.lockedFolder').addClass('hide');
                $('#folderToolbarImport').removeClass('hide');
            }

            if (locked) {
                $('#folderToolbarImport').attr('disabled', 'disabled');
            } else {
                $('#folderToolbarImport').removeAttr('disabled');
            }

            if (disabled) {
                $('#folderToolbarImport').attr('disabled', 'disabled');
            }

            $.ajax({
                url         : url,
                type        : "GET",
                dataType    : 'json',
                success     : function (response) {
                    ArchiveFolderList.buildResultList(response.archives, null, false, response.countWithoutLimit);
                    if (locked || disabled) {
                        ArchiveFolderList.folderPanel.find('.addChildrenArchive').remove();
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })

            pathList = {};
            $.each(this.pathList, function(key, value) {
                var path = "";

                $.each(value, function(key, value) {
                    path += value[1] + ' / ';
                })

                pathList[key] = path;
            })

            this.pathList = pathList;


            this.buildNewArchiveDropdownMenu(archivalProfiles, acceptArchivesWithoutProfiles);

            $("#folderToolbarSearch").data("orgregnumber", orgRegNumber).data("folderid", folderId);
        },

        buildResultList: function(archives, options, showArchivePath, totalResult) {
            // to inititate default value and avoid bug on IE 11
            if (options === undefined) {
                options = null;
            }
            if (showArchivePath === undefined) {
                showArchivePath = false;
            }

            trigger("clearDetail.recordsManagement");
            this.showArchivePath = showArchivePath;

            resultNumberText = "";
            if (archives.length) {
                $('#folderToolbarFreeze').removeAttr("disabled");
                $('#folderToolbarUnfreeze').removeAttr("disabled");
                $('#folderToolbarSearch').removeAttr("disabled");

            } else {
                $('#folderToolbarFreeze').attr("disabled", "disabled");
                $('#folderToolbarUnfreeze').attr("disabled", "disabled");
                $('#folderToolbarSearch').attr("disabled", "disabled");
            }

            defaultOptions = {
                datas: archives,
                total: totalResult,
                rowMerge: ArchiveFolderList.mergeRow,
                rowMaxNumber: ($('#fullTextSearchForm').find('[name=maxResults]').val() != 'undefined' ? parseInt($('#fullTextSearchForm').find('[name=maxResults]').val(), 10) : 10),
                rowTranslation: $('#rows_text').text(),
                emptyMessage: '<i class="text-muted"><br\/><span class="fa fa-times">&nbsp;<\/span>' + $('#emptyFolder_text').html() + '<\/i>',
                itemsName: [$('#archive_text').text(), $('#archives_text').text()],
                translation: {
                    First: $('#first_text').html(),
                    Previous: $('#previous_text').html(),
                    Next: $('#next_text').html(),
                    Last: $('#last_text').html()
                },
                sorting: [
                    {
                        fieldName: 'archiveName',
                        label: $('#archiveName_text').text(),
                        type: 'txt'
                    },
                    {
                        fieldName: 'depositDate',
                        label: $('#depositDate_text').text(),
                        type: 'num',
                        default: 'DESC'
                    }
                ],
                unsearchable: [
                    "status"
                ]
            };
            if(options){
                $.each(options, function( key, value ) {
                    defaultOptions[key] = value;
                })
            }

            $('#folderContentList').dataList(defaultOptions);

            if (!(FilePlan.selectedNode.hasClass('folder') && FilePlan.selectedNode.data('closed'))) {
                this.initDragNDrop();
            }
        },

        mergeRow: function(archive) {
            var archiveDiv = ArchiveFolderList.rowTemplate.clone();
            var icon = archiveDiv.find('.fileplanLevel');
            archiveDiv.attr('id', archive.archiveId);
            archiveDiv.find('.archiveName').text(archive.archiveName);
            archiveDiv.find('.status').text(archive.status);
            var siblings = archiveDiv.find('small');

            archiveDiv.attr('id', archive.archiveId)
                .find('.status').text(archive.status);

            switch (archive.fileplanLevel) {
                case 'item':
                    icon.addClass('fa fa-file');
                    break;

                case 'file':
                default:
                    icon.addClass('fa fa-archive');
            }

            if (archive.archivalProfileName) {
                $(siblings[0]).text(' ' + archive.archivalProfileName);
            }
            if (archive.originatorArchiveId) {
                $(siblings[1]).text(' ' + archive.originatorArchiveId);
            }
            if (archive.originatingDate) {
                $(siblings[2]).text(' ' + archive.originatingDate);
            }

            if (ArchiveFolderList.showArchivePath && ArchiveFolderList.pathList[archive.originatorOrgRegNumber]) {
                $(siblings[3]).children('span').text(ArchiveFolderList.pathList[archive.originatorOrgRegNumber]);
            }

            return archiveDiv;
        },

        initDragNDrop: function() {
            $('#folderContentList').find('.archive').draggable({
                revert : true,
                zIndex: 100,
                delay: 200,
                helper: function() {
                    var archive = $(this);
                    var archiveIds = [];
                    var helper = $('<div/>');
                    var title = ""

                    if (archive.hasClass('bg-info')) {
                        $('#folderContentList').find('.archive.selected').each(function() {
                            archiveIds.push($(this).attr('id'));
                            title = archiveIds.length + ' ' + $('#archives_text').text();
                        })
                    } else {
                            archiveIds.push(archive.attr('id'));
                            title = archive.find('.archiveName').html();
                    }

                    helper.addClass('archiveHelper')
                        .data('archives', archiveIds)
                        .append($('<i/>').addClass("fa fa-archive")
                                         .css('text-align', 'center')
                                         .css('font-size', '30px'))
                        .append('<br/>')
                        .append(title)
                        .css('opacity', '0.8')
                        .css('color', 'grey')
                        .css('text-align', 'center');
                    return helper
                },
            cancel: ".fa"
            })
        },

        refresh: function() {
            trigger('loadFolder.filePlan', [this.orgRegNumber]);
        },

        show: function() {
            $('.folderContents').removeClass('hide');
            trigger("folderView.recordsManagement");
        },

        buildNewArchiveDropdownMenu: function(archivalProfiles, acceptArchivesWithoutProfiles) {
            var dropdown = $("#folderToolbarBtn .dropdown-menu");
            dropdown.children().remove();

            if (!acceptArchivesWithoutProfiles && archivalProfiles.length == 0) {
                $("#folderToolbarImport").addClass('hide');
                return;
            }

            if (acceptArchivesWithoutProfiles) {
                var a = $("<a/>")
                    .addClass("small newArchive")
                    .data("reference", '')
                    .attr('style', "cursor: pointer;")
                    .text($('#withoutProfile_text').text());

                $("<li/>").append(a).appendTo(dropdown);
            };

            for (var i = 0; i < archivalProfiles.length; i++) {
                var a = $("<a/>")
                    .addClass("userProfile small newArchive")
                    .data("reference", archivalProfiles[i].reference)
                    .data("json", archivalProfiles[i])
                    .attr('style', "cursor: pointer;")
                    .text(archivalProfiles[i].name);

                $("<li/>").append(a).appendTo(dropdown);
            }
        }
    }

    NewArchive = {
        loadImportForm: function(e, profileMetadata) {
            console.trace();
            $('#folderContents').addClass('hide');
            trigger('newArchiveForm.recordsManagement', [profileMetadata, ArchiveFolderList.orgRegNumber, ArchiveFolderList.folderId, e.data('parent-archive-id'), e.data('parent-archive-name')]);
        }
    }

    $("#folderPanel").on('click', '.newArchive', function() {
        Metadata.isModification = false;
        var profile = $(this).parent().text().trim();
        var profileMetadata = FulltextSearchForm.loadArchivalProfile(profile);
        NewArchive.loadImportForm($(this), profileMetadata);
    });

    // Actions on list
    $("#folderContentList").on('click', ".dataList-sorting", function() {
        ArchiveFolderList.initDragNDrop();
    });

    $("#folderContentList").on('keyup', "input", function() {
        ArchiveFolderList.initDragNDrop();
    });

    $("#folderContentList").on('click','.pagination li', function() {
        ArchiveFolderList.initDragNDrop();
    });

    $('#folderPanel').onEvent("loadFolder.recordsManagement", function(e, path, orgRegNumber, folderId, profiles, disabled, locked, acceptArchiveWithoutProfile, pathList) {
        ArchiveFolderList.show();
        FolderBreadcrumb.load(path);
        ArchiveFolderList.getfolderContents(orgRegNumber, folderId, profiles, disabled, locked, acceptArchiveWithoutProfile, pathList);
    })

    $('#folderPanel').onEvent("showFolder.recordsManagement", function() {
        ArchiveFolderList.show();
    })

    $('#folderPanel').onEvent("archiveImportOver.recordsManagement", function() {
        ArchiveFolderList.show();
    })

    $('#folderPanel').onEvent("showSearchResult.recordsManagement", function(e, archives) {
        var options = {
            itemsName: [$('#foundArchive_text').text(), $('#foundArchives_text').text()]
        };
        ArchiveFolderList.buildResultList(archives, options, true);
    })

    // Breadcrump
    $('#folderBreadcrumb').on('click', 'a', function() {
        FolderBreadcrumb.selectFolder($(this));
    })

    $('#folderBreadcrumb').onEvent("archiveImportStarted.recordsManagement", function() {
        FolderBreadcrumb.lockNavigation();
    })

    $('#folderBreadcrumb').onEvent("archiveImportOver.recordsManagement", function() {
        FolderBreadcrumb.unlockNavigation();
    })


</script>
