<li id="[?merge .folderId ?]" class="folder" data-path="[?merge .path ?]" data-orgregnumber="[?merge .ownerOrgRegNumber ?]" data-parentid="[?merge .parentFolderId ?]" data-description="[?merge .description ?]" data-closed="[?merge .closed.bool().then('true', 'false') ?]">
    <span class="folderNode" title="[?merge .name ?]">
        <i class="fa" data-opened-icon="fa-caret-down" data-closed-icon="fa-caret-right" data-default-icon="">&nbsp;</i>
        <b data-translate="no">
            <i class="fa fa-folder"/>
            <span><?merge .name ?></span>
        </b>
        <?merge filePlanPrivileges.bool() ?>
        <div class="pull-right dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-ellipsis-v"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li title="Add a new folder"><a class="addFolder" hef="#"><i class="fa fa-plus"/> Add a new folder</a></li>
                <li title="Edit folder"><a class="editFolder" hef="#"><i class="fa fa-edit"/> Edit folder</a></li>
                <li title="Delete folder"><a class="deleteFolder" hef="#"><i class="fa fa-trash"/> Delete folder</a></li>
            </ul>
        </div>
    </span>

    <?merge .subFolders.bool() ?>
    <ul>
        <?merge .subFolders /filePlan/folderNode.html ?>
    </ul>
</li>
